<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mono.CSharp" version="4.0.0.143" targetFramework="net46" requireReinstallation="true" />
  <package id="OpenTK" version="1.1.1589.5942" targetFramework="net4" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net4" />
</packages>